nav {
  background-color: black;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  color: white;
}

nav a {
  color: white;
}

main {
  display: flex;
  padding: 25px;
  min-height: calc(100vh - 28px);
  gap: 25px;
}

.panel {
  flex: 1;
  padding: 3px;
  background-color: rgb(148, 148, 148);
  border-radius: 10px;
}

@media (max-width: 1026px) {
  main {
    flex-direction: column;
  }

  .panel {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}
